:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cream);
    overflow: hidden;
}

.container {
    max-width: 560px;
    aspect-ratio: 1.33;
    box-shadow: 0 0 5px 2px #0001;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    user-select: none;
}

.image {
    background: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px 0 0 10px;
}

.content {
    height: inherit;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', Calibri;
    font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    color: var(--darkGrayishBlue);
}

h1 {
    font-family: 'Fraunces', Cambria;
    font-weight: 700;
    color: var(--veryDarkBlue);
    line-height: 32px;
}

p {
    font-size: 14px;
    color: var(--darkGrayishBlue);
    margin: 1px;
}

.price {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.price > span:first-child {
    color: var(--darkCyan);
    font-family: 'Fraunces', Cambria;
    font-size: 32px;
    font-weight: 700;
    margin-right: 1rem;
}

.price > span:last-child {
    color: var(--darkGrayishBlue);
    font-size: 14px;
    text-decoration: line-through;
}

button {
    background-color: var(--darkCyan);
    border: solid 1px transparent;
    border-radius: 7px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: hsl(160, 39%, 21%);
}

button > span {
    margin-left: .5rem;
    color: var(--white);
    font-weight: 700;
}

.attribution {
    font-family: 'Courier New', monospace;
    font-weight: 800;
    text-align: center;
}

.attribution a:first-child {
    text-decoration: none;
    color: rgb(2, 48, 255);
}

.attribution a:last-child {
    text-decoration: none;
    color: red;
}

@media only screen and (max-width: 430px) {
    body {
      overflow-y: auto;
    }

    .container {
        max-width: 350px;
        aspect-ratio: .56;
        grid-template: 1fr 1fr / 1fr;
        margin-bottom: 1rem;
    }

    .image {
        background: url(images/image-product-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border-radius: 10px 10px 0 0;
    }

    .attribution {
        font-size: 11px;
        font-weight: 400;
}
}
